doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Hack Start
    meta(name="description" content="A boilerplate for Node.js web applications.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="csrf-token", content=_csrf)
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  body
    include partials/header

    .container
      include partials/flash
      block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
